html, body
{
	min-height: 100%;
	min-width: 100%;
	
	font-family: \5FAE\8EDF\6B63\9ED1\9AD4, sans-serif;
	font-weight: 100;
	background-color: black;
	cursor: none;
	-webkit-user-select:none;
}

div.container
{
}

div.test
{
	visibility: hidden;
	height: 0em;
}

div.canvas
{
	position: fixed;
	width: 100%;
	height: 100%;
	color: white;
	
}

div.canvas > video
{
	display: block;
	width: 100%;
	height: 100%; 
	margin: auto;
}

div.canvas img
{
	display: block;
	width: auto;
	height: 100%;
	margin: auto;
}



/**
 * Skyrim-inspired Menu
 */


p 
{
	/* color: rgba(255, 255, 255, 0.5); */
	text-decoration: none;
}

p:hover, li:hover > p
{
	color: #FFF;
}

ul 
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li 
{
	margin: 0;
	padding: 0;
}

#menu, #submenu 
{
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(rgba(85,85,85,0.9)),
		color-stop(0.05, rgba(29,30,25,0.9)),
		to(rgba(0,0,0,0.9)));
	float: left;
	font-size: 2.0em;
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0;
	margin: 0;
	opacity: 1;
}

#menu
{
}

#submenu 
{
	background-size: contain;
	height: 45px;
	bottom: 40px;
}



#menu li, #submenu li 
{
	-webkit-box-sizing: border-box;
	position: relative;
	display: block;
	float: left;
	z-index: 1;
	height: 100%;
	border-right: 1px solid #333;
	border-left: 1px solid #000;
}

#menu li.current, #submenu li.current
{
	
	position: relative;
	display: block;
	float: left;
	
	z-index: 1;
}

#menu li.current p
{
	color: white;	
}

#submenu li.current p
{
	color: black;
	font-weight: 600;
}

#menu li p, #submenu li p
{
	-webkit-box-sizing: border-box;
	font-size: 0.8em;
	display: block;
	padding: 0em 1em 0;
	white-space: nowrap;
	letter-spacing: 0.1em;
	line-height: 40px;
	margin: auto;
}

#submenu li p
{
	margin: 0 1em;
	padding: 0;
	line-height: 45px;

}

.color0
{
	color: #6f73ff;
}

.color1
{
	color: #7fe22e;
}

.color2
{
	color: #f92672;
}

.color3
{
	color: #fd971f;
}

.color4
{
	color: #e6db74;
}

.navigation
{
	font-size: 5em;
	color: gray;
	position: absolute;
	bottom: 45%;
	padding: 0.2em 0;
	opacity: 0.3;
}

.active
{
	opacity: 1.0;
}

#naviNext
{
	float: right;
	right: 3.0%;
	
	width: 100px;
	height: 100px;
	
	background-image:url(../static/next.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#naviPrev
{
	float: left;
	left: 3.0%;
	
	width: 100px;
	height: 100px;
	
	background-image:url(../static/prev.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#title
{
	font-size: 2.0em;
	font-weight: 800;
	text-align: right;
	width: auto;
	height: 35px;
	color: white;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.7em 1.0em 0.5em;
	opacity: 0.8;
	-webkit-box-sizing: border-box;
}
#title ul
{
	display: block;	
}

#title ul li
{
	display: block;	
	float: left;
}

#titleLeft
{
	background: url(../static/titleLeft.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
}

#titleMiddle
{
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0,0,0,0.5);
	width: auto;
	padding: 0 0.5em;
	line-height: 50px;
	height: 50px;
}

#titleRight
{
	background: url(../static/titleRight.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 50px;
	height: 50px;
}